.venv
*.csv
*.pdf 
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.coverage
.cache/
*.log
.ipynb_checkpoints/
.vscode/
.idea/
*.sqlite3